[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy
restore_state = {{ mopidy_restore_state }}

[logging]
color = true

[audio]
output = {{ mopidy_audio_output }}

[file]
enabled = {{ mopidy_file_enabled }}
{% if mopidy_file_enabled -%}
media_dirs =
    {{ mopidy_file_media_dirs }}
{%- endif %}

[m3u]
enabled = {{ mopidy_m3u_enabled }}
{% if mopidy_m3u_enabled -%}
base_dir = {{ mopidy_m3u_base_dir }}
playlists_dir = {{ mopidy_m3u_playlists_dir }}
{%- endif %}

[http]
enabled = true
hostname = {{ mopidy_hostname }}
port = 6680
static_dir =
zeroconf = Mopidy HTTP server on $hostname

[iris]
enabled = true
country = {{ mopidy_iris_country }}
locale = {{ mopidy_iris_locale }}

{% if mopidy_lastfm_enabled -%}
[scrobbler]
enabled = true
username = {{ mopidy_lastfm_username }}
password = {{ mopidy_lastfm_password }}

{% endif -%}
{% if mopidy_spotify_enabled -%}
[spotify]
enabled = true
username = {{ mopidy_spotify_username }}
password = {{ mopidy_spotify_password }}
client_id = {{ mopidy_spotify_client_id }}
client_secret = {{ mopidy_spotify_client_secret }}
allow_cache = {{mopidy_spotify_allow_cache}}

{% endif -%}
